<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">

        <div class="form-group">

            <!-- Label -->
            <label class="mb-1">
                Acceptable Use Policy
            </label>

            <!-- Text -->
            <small class="form-text text-muted">
                This AUP is visible throughout the site.
            </small>

            <!-- Textarea -->
            <textarea [(ngModel)]="aupText" class="form-control" rows="10"></textarea>

        </div>

        <!-- Divider -->
        <hr class="mt-5 mb-5">

        <!-- Buttons -->
        <a (click)="saveAupPolicy()" class="btn btn-block btn-primary">
            Save DMCA Policy
        </a>

    </div>
</div>
