<div class="header-body">
    <div class="row align-items-end">
        <div class="col">

            <!-- Title -->
            <h2 class="header-title text-muted">
                Welcome back, {{ user?.name }}
            </h2>

        </div>
        <div class="col-auto">

            <!-- Button -->
            <a data-target="#search-courses" data-toggle="collapse" class="btn btn-primary lift">
                <i class="fe fe-search"></i>
                Browse Courses
            </a>

        </div>
    </div> <!-- / .row -->
</div>

<div class="row mt-3">
    <div class="col-12">
        <div id="search-courses" class="collapse">
            <app-search-courses [user]="user" [allSchedules]="allUserSchedules" [allCourses]="allCourses"></app-search-courses>
        </div>
    </div>
    <div class="col-md-12">
        <app-create-course-list
                [user]="user"
                [filteredSchedules]="allUserSchedules"
                [allSchedules]="allUserSchedules"
                [allCourses]="allCourses"></app-create-course-list>
    </div>
<!--    <div class="col-md-4">-->

<!--        <app-public-schedule  [allCourses]="allCourses" [publicSchedules]="allSchedules"></app-public-schedule>-->

<!--    </div>-->
</div>



